<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="trafficLight" *ngIf='trafficLightService.activeLights'>
        <span id="redlight" [ngClass]="{'red': ActiveLight(0)}"></span>
        <span id="yellowlight" [ngClass]="{'yellow': ActiveLight(1)}"></span>
        <span id="greenlight" [ngClass]="{'green': ActiveLight(2)}"></span>
      </div>
    </div>
    <div class="col-6">
      <button (click)="StartStopButton()">Start/Stop</button>
      <button (click)="PedestrianRequest()">Crosswalk button</button>
    </div>
</div>
</div>
